.record {
    text-decoration: none;
}

.record:hover {
    cursor: pointer;
}

.schedule-table .day {
    width: 100px;
}

.schedule-table .actions {
    width:250px;
}

.set-period-block .row div {
    display: inline-block;
}

.added-period:first-child {
    margin-top: 15px;
}

.added-period {
    width: 300px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 15px;
}

.added-period div {
    margin: 0 5px 0 0;
    /*display: inline-block;*/
    vertical-align: middle;
    float: right;
}

.added-period div input[type=checkbox] {
    width: 14px;
    margin: 0 auto;
}

.href {
    cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f0f7f0;
}

.schedule-link {
    cursor: pointer;
}

.schedule-time-column {
    width: 100px;
}

.schedule-record-column {
    min-width: 500px;
}

.schedule-places-column {
    width: 80px;
}
